body {
    margin: 0;
}

main {
    margin: 8px;
}

.horizontal-nav {
    display: flex;
    margin: 0;
    padding: 8px;
    background-color: antiquewhite;
}

.nav-title {
    margin: 0;
    font-size: x-large;
    align-self: center;
}

.right-aligned {
    display: flex;
    margin-left: auto;
}

.shell-for-nav-item {
    margin: 10px;
    padding: 10px;
    background-color: burlywood;
}

.btn-link {
    background-color: burlywood;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
}

.btn-link:hover {
    background-color: coral;
}

.nav-item {
    text-decoration: none;
    color: black;
}

.card-section {
    width: 80%;
    padding: 0 20px 0 20px;
    margin: 20px auto;
    font-size: large;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.card-section p {
    display: flex;
    justify-content: center;
    align-items: center;
}

#weather-section {
    display: flex;
}

.weather-sub-div h4 {
    display: flex;
    justify-content: center;
}

.weather-sub-div {
    margin: auto;
}

.weather-paragraph {
    display: flex;
    justify-content: center;
}

#man-in-beer {
    width: 200px;
    height: 300px;
}

#funny-fact {
    display: flex;
    flex-direction: column;
}

#links {
    margin: 20px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-rows: 2fr 3fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.icon {
    width: 100px;
    height: 100px;
    margin: auto;
    display: block;
}

.icon:hover {
    width: 105px;
    height: 105px;
}

